extends /base

block content

   - moment.locale('de')
   - meetings = Object.values(global.meetings2020).concat(Object.values(global.meetings))
   - meetings = meetings.filter(x => moment(x.date).tz('Europe/Zurich') > moment().tz('Europe/Zurich'))
   - meetings = meetings.sort( (x, y) => moment(x.date) - moment(y.date) )

   #page-heading
      .center-wrapper.text-wrapper
         h1#page-title Recovery<br>Trialog<br>Winterthur
         //- #page-subtitle Aus Krisen Lernen

   main#page-main.center-wrapper.text-wrapper
      nav
         ul
            for entry in global.nav
               li: a(href=entry.link)= entry.title

      section#intro.s1.spaced-paragraphs.underlined-links!= global.texts.intro.content
         
         //- <a href='#ort'>Alte Kaserne Winterthur</a>
      
      section.s1.alarm.spaced-paragraphs.underlined-links!= global.texts.alert.content
      
      section.s1.newsletter-section
         header.s1-header
            h2.h2 Newsletter
         .s1-main
            form(action="https://auskrisenlernen.us4.list-manage.com/subscribe/post?u=0213bd9196e039ac8374ac4e3&amp;id=d1ff2975a0", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank", novalidate)
               #mc_embed_signup_scroll
                  input(type="email", value="", name="EMAIL", class="email", id="mce-EMAIL", placeholder="Email-Adresse", required)
                  div(style="position: absolute; left: -5000px;", aria-hidden="true")
                     input(type="text", name="b_0213bd9196e039ac8374ac4e3_d1ff2975a0", tabindex="-1", value="")
                  input(type="submit", value='Eintragen', name="subscribe", id="mc-embedded-subscribe", class="button")

      
      section.s1.spaced-paragraphs!= global.texts.description.content
      
      section#termine.s1
         header.s1-header
            h2.h2 Termine
         .s1-main
            .meetings
              for meeting in meetings
                  time.meeting-date= moment(meeting.date).tz('Europe/Zurich').format('dd Do MMM YYYY')
                  h3.meeting-main
                     span.meeting-title= meeting.title  
                     if meeting.location
                        span.meeting-location= ', ' + meeting.location

      section#ablauf.s1.spaced-paragraphs
         header.s1-header
            h2.h2 Ablauf
         .s1-main!= global.texts.ablauf.content
            
      section#ort.s1
         header.s1-header
            h2.h2 Ort
         .s1-main
            address.
               <strong>Alte Kaserne</strong> <br>
               Technikumstrasse 8 <br>
               8400 Winterthur
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.5900367050695!2d8.729273915507536!3d47.4978993034741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a999cf56459dd%3A0x824337f4a4dddc51!2sAlte%20Kaserne!5e0!3m2!1sde!2sch!4v1574710433337!5m2!1sde!2sch" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

      section#team.s1
         header.s1-header
            h2.h2 Team
         .s1-main
            ul#people-list.underlined-links
               for person in global.team
                  li
                     if person.link
                        a(href=person.link): strong= person.name
                     else
                        strong= person.name
                     span= ': ' + person.description
                     if person.company
                        span= ', ' + person.company
      
      section#downloads.s1.underlined-links
         header.s1-header
            h2.h2 Downloads
         .s1-main
            ul.default-list
               li: a(href='documents/flyer-2020.pdf') Flyer 2020
               li: a(href='documents/flyer.pdf') Flyer 2019

      section#kontakt.s1
         header.s1-header
            h2.h2 Kontakt
         .s1-main
            p. 
               <a href='mailto:info@auskrisenlernen.ch'>info@auskrisenlernen.ch</a>
                oder <span class='nobr'>079 377 42 80</span>

   footer.page-footer
      .center-wrapper.text-wrapper
         header.s1-header
            h3.h3 Unterstützt von
         main.s1-main.logos
            for name in fs.readdirSync('static/images/logos')
               img(src='/images/logos/' + name)



//- section#intro.s1
         //-    section
         //-       h2 Wann
         //-       div
         //-          p jeden 2. Donnerstag des Monats
         //-          p: time 19-21 Uhr
         //-    section
         //-       h2 Wo
         //-       a(href='https://goo.gl/maps/y39Vnxau9Lo')
         //-          p Selbsthilfezentrum Winterthur
         //-          p Holderplatz 4  

         //- section.s1
         //-    a(href='/documents/flyer.pdf') Flyer zum Forum
         
         //- section#news.s1
         //-       h3.h3 NEWS
         //-       p.
         //-          <em>Aus Krisen lernen</em> – der Recovery Trialog Winterthur 
         //-          wird im Jahr 2020 fortgesetzt. Die Treffen finden jeden 2. 
         //-          Donnerstag des Monats in der Alten Kaserne Winterthur statt. 
         //-          Weitere Infos folgen.    
         //- section#attention.s1
         //-    h3.h3 ACHTUNG
         //-    p. 
         //-       Der Eingang zum Selbsthilfezentrum Winterthur befindet 
         //-       sich an der linken Hausseite. Bitte nicht den Zugang zum Kafi 
         //-       Stadtmuur benützen. 